

<div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <form action="" class="form">
                <fa-icon class="i fa-search" [icon]="faSearch" [ngStyle]="{'color': '#7bc8f9'}"></fa-icon>
                <input type="text" class="form-control form-input" placeholder="Search Users ...">
                <span class="left-pan">
                    <fa-icon class="i fa-microphone" [icon]="faUsers" [ngStyle]="{'color': '#f59840'}"></fa-icon>
                </span>
            </form>
        </div>
    </div>
</div>