<div class="container-fluid">

  <div class="row height d-flex justify-content-center align-items-center mb-5">
    <div class="col-md-6">
        <form action="" class="form">
            <fa-icon class="i fa-search" [icon]="faSearch" [ngStyle]="{'color': '#7bc8f9'}"></fa-icon>
            <input [(ngModel)]="userName" name="userName" type="search" class="form-control form-input"
                (keyup)="findUser()" placeholder="Search Users ...">
        </form>
    </div>
</div>

  <div class="row">
    <div *ngIf="users" class="float-start m-1 row  col-md-6 mt-4">
      <div class="card py-4 col-md-4">
        <div class="d-flex justify-content-center align-items-center">
          <div class="round-image">
            <img [src]="users.avatar_url" class="rounded-circle" width="97">
          </div>
        </div>
        <div class="text-center">
          <h4 class="mt-3">{{users.login}}</h4>
          <div class="row">
            <div class="position-relative mt-3 col-md-6">
              <button [ngStyle]="{'background-color':'#7bc8f9'}" type="button"
                class="btn btn-light badge text-dark rounded p-2 mt-1">
                <a target="blank" [href]="users.html_url" class="view-btn">Repositories</a>
              </button>
            </div>
            <div class="position-relative mt-3 col-md-6">
              <button [ngStyle]="{'background-color':'#32c48a'}" type="button"
                class="btn btn-light badge text-dark rounded p-2 mt-1">
                <a target="blank" [href]="users.html_url" class="view-btn">View User</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  

 <app-repos *ngIf="users"  [name]="userName"  class="col-md-6"></app-repos>

 
</div>






 