* {
    margin: 0;
    padding: 0
}

.card {
    width: 100%;
    background-image: linear-gradient(#199bf3, #7bc8f9);
    border-radius: 25px;
    border-color: #7bc8f9;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}


.view-btn{
    text-decoration: none;
    color: black;
}